{% assign statements = include.statements %}
{% assign focus = include.focus %}
<div class="table-responsive">
  <table class="table table-striped align-middle table-sm">
    <thead>
      <tr>
        <th>Subject</th>
        <th>Predicate</th>
        <th>Object</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      {% for statement in statements %}
        <tr>
          {% comment %} Subject {% endcomment %}
          {% if focus == "subject" %}
            {% if forloop.first %}
              <td rowspan="{{ statements | size }}"><strong>{% include prefix_url.html iri=statement.subject.iri %}</strong></td>
            {% endif %}
          {% else %}
            <td>{% include prefix_url.html iri=statement.subject.iri %}</td>
          {% endif %}
          {% comment %} Predicate {% endcomment %}
          <td>{% include prefix_url.html iri=statement.predicate.iri %}</td>
          {% comment %} Object {% endcomment %}
          {% if statement.object.iri %}
            {% if focus == "object" %}
              {% if forloop.first %}
                <td rowspan="{{ statements | size }}">
                  <strong>{% include prefix_url.html iri=statement.object.iri %}</strong>
                </td> 
              {% endif %}
            {% else %}
              {% if statement.object.iri != "" %}
                <td>
                  {% include prefix_url.html iri=statement.object.iri %}
                </td> 
              {% else %}
                {% assign bnode_query = 'SELECT DISTINCT ?predicate ?object WHERE { ?resourceUri_0 ?resourceUri_1 ?bnode . ?bnode ?predicate ?object . }' %}
                {% capture input_array_string %}<{{ statement.subject.iri }}>,<{{ statement.predicate.iri }}>{% endcapture %}
                {% assign input_array = input_array_string | split: ',' %}
                {% assign bnode_statements = input_array | sparql_query: bnode_query %}
                <td>
                  <div class="card">
                    {% include bnode_table.html statements=bnode_statements %}
                  </div>
                </td>
              {% endif %}
            {% endif %}
          {% else %}
            <td>
              "{{ statement.object | truncate: 150 }}"
            </td>
          {% endif %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>