{% assign statements = include.statements %}
{% assign local_center = include.local_center %}
<script src="https://unpkg.com/mermaid@8.9/dist/mermaid.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/mermaid_delayed_loader.js"></script>
<pre class="mermaid">
    graph LR
    click {{ local_center }} "{{ local_center }}" "Link"
    {% for statement in statements %}
        {{ statement.subject.iri }}(["{% include core/prefix_label.html iri=statement.subject.iri -%}"])
        -->|{% include core/prefix_label.html iri=statement.predicate.iri %}|
        {%- if  statement.object.iri -%}
            {%- comment %} The object is a resource, render a clickable circle {% endcomment -%}
            {%- if statement.object.iri != "" -%}
                {%- assign iri_id = statement.object.iri -%}
                {%- assign mailto_check = iri_id | split:"mailto:" -%}
                {%- if mailto_check[0] == "" -%}
                    {%- assign iri_id = mailto_check[1] -%}
                    {%- assign iri_id = iri_id | replace: "@", "_AT_" -%}
                {%- endif -%}
                {{ iri_id }}(["{% include core/prefix_label.html iri=statement.object.iri -%}"])
                click {{ iri_id }} "{{ statement.object.iri }}" "Link"
            {%- else -%}
                id{{ statement.object }}([ ])
                {%- assign bnode_query = 'SELECT DISTINCT ?bnode ?predicate ?object WHERE { ?resourceUri_0 ?resourceUri_1 ?bnode . ?bnode ?predicate ?object . }' -%}
                {%- capture input_array_string %}<{{ statement.subject.iri }}>,<{{ statement.predicate.iri }}>{% endcapture %}
                {%- assign input_array = input_array_string | split: ',' -%}
                {%- assign bnode_statements = input_array | sparql_query: bnode_query -%}
                {%- include bnode_graph.html statements=bnode_statements -%}
            {%- endif %}
        {%- else -%}
            {%- comment -%} The object is a literal, render a box. {%- endcomment -%}
            id{{ forloop.index }}["{{ statement.object | truncate: 150 | replace: '"', '#quot;' }}"]
        {%- endif %}
        {% if statement.subject.iri != local_center %}
            click {{ statement.subject.iri }} "{{ statement.subject.iri }}" "Link"
        {% endif %}
    {%- endfor %}
    style {{ local_center }} fill:#111,stroke:#333,stroke-width:4px,color:#eee
</pre>