header {
    padding-top: 10px;
    padding-left: 12px;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

header .resource-title i.permalink {
    display: none;
}

header .resource-title:hover i.permalink {
    display: inline-block;
}

footer {
    padding-top: 10px;
    padding-left: 12px;
    padding-bottom: 10px;
}

.marker {
    min-height: 10px;
    background-color: skyblue;
}

body .container {
    max-width: 100%;
}

.statements-table {
    padding-top: 15px;
    margin-left: -12px;
}

.statements-table:last-of-type {
    padding-bottom: 15px;
}

.statements-table .table-group-divider {
    border-top-color: #a9a9a9;
    border-bottom: solid 2px #a9a9a9;
}

.local-graph {
    padding-top: 15px;
}

/* #local_graph_content .tab-pane {
    margin-top: 15px;
}

#local_graph_content .tab-pane .card {
    margin-bottom: 15px;
} */

@media (max-width: 768px) {
    .map {
        padding-left: 0px;
        padding-right: 0px;
    }

    #unit-map {
        width: 100%;
    }
}

.link-unstyled {
    font-style: inherit;
    color: inherit;
    background-color: transparent;
    font-size: inherit;
    text-decoration: none;
    font-variant: inherit;
    font-weight: inherit;
    line-height: inherit;
    font-family: inherit;
    border-radius: inherit;
    border: inherit;
    outline: inherit;
    box-shadow: inherit;
    vertical-align: inherit;
}

.link-unstyled:hover {
    font-style: inherit;
    color: inherit;
    background-color: transparent;
    font-size: inherit;
    text-decoration: none;
    font-variant: inherit;
    font-weight: inherit;
    line-height: inherit;
    font-family: inherit;
    border-radius: inherit;
    border: inherit;
    outline: inherit;
    box-shadow: inherit;
    vertical-align: inherit;
}

.imprint-block {
    margin-bottom: 30px;
}