---
rdf_prefix_path: "conf/prefixes.sparql"
---
{% assign page_link = page.url | absolute_url | replace: '.html', '' %}
{% assign title = page.rdf | rdf_property: "rdfs:label", "de"  %}
{% unless title %}
  {% assign title = page.rdf | rdf_property: "rdfs:label"  %}
{% endunless %}
{% unless title %}
  {% assign title = page.rdf | rdf_property: "schema:name", "de" %}
{% endunless %}
{% unless title %}
  {% assign title = page.rdf | rdf_property: "schema:name" %}
{% endunless %}
{% unless title %}
  {% assign title = "Unknown" %}
{% endunless %}
<html>
  {% include core/page_head.html title = title %}
  <body>
    {% include core/content_header.html title = title page_link = page_link icon = "circle" %}
    <div class="container">
      <div class="row breadcrumbs">
        <div class="col-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="{{ site.dataset_url }}">
                  {{ site.dataset_breadcrumb }}
                </a>
              </li>
              <li class="breadcrumb-item">
                {{ title }}
              </li>
            </ol>
          </nav>
        </div>
      </div>
      {% assign description = page.rdf | rdf_property: "rdfs:comment", "de" %}
      {% unless description %}
        {% assign description = page.rdf | rdf_property: "dct:description", "de" %}
      {% endunless %}
      {% if description %}
        <div class="row">
          <div class="col-12">
            <p>{{ description }}</p>
          </div>
        </div>
      {% endif %}
      <div class="row">
        <div class="col-lg-6 col-sm-12">
          <table class="table table-striped align-middle">
            <tbody>
              {% include core/type_row.html %}
            </tbody>
          </table>
        </div>
      </div>
      <div class="row local-graph">
        <div class="col-12">
          {% include core/local_graph.html %}
        </div>
      </div>
    </div>
    {% include core/content_footer.html %}
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
      crossorigin="anonymous"></script>
  </body>
</html>