---
rdf_prefix_path: "conf/prefixes.sparql"
---
{% assign page_link = page.url | absolute_url | replace: '.html', '' %}
{% assign title = page.rdf | rdf_property: "skos:prefLabel" %}
{% unless title %}
  {% assign title = "Unknown" %}
{% endunless %}
<html>
  {% include core/page_head.html title = title %}
  <body>
    {% include core/content_header.html title = title page_link = page_link icon = "building" %}
    <div class="container">
      <div class="row breadcrumbs">
        <div class="col-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="{{ site.dataset_url }}">
                  {{ site.dataset_breadcrumb }}
                </a>
              </li>
              {%  capture organogram_query %}
                SELECT ?organogram
                  WHERE {
                    ?organogram berorgs:contains/(org:hasSubOrganization | org:hasUnit)* ?resourceUri
                  }
              {% endcapture %}
              {% assign organograms = page.rdf | sparql_query: organogram_query %}
              {% if organograms.size > 0 %}
                {% for row in organograms %}
                  <li class="breadcrumb-item">
                    <a href="{{ row.organogram.page_url | relative_url }}">
                      {{ row.organogram | rdf_property: "rdfs:label" }}
                    </a>
                  </li>
                {% endfor %}
              {% endif %}

              {% capture super_org_query %}
                SELECT ?super_org
                  WHERE {
                    ?super_org (org:hasSubOrganization | org:hasUnit)* ?resourceUri
                  }
              {% endcapture %}
              {% assign super_orgs = page.rdf | sparql_query: super_org_query %}
              {% if super_orgs.size > 0 %}
                {% for row in super_orgs reversed %}
                  <li class="breadcrumb-item">
                    {% if forloop.last %}
                      {{ row.super_org | rdf_property: "skos:prefLabel" }}
                    {% else %}
                      <a href="{{ row.super_org.page_url | relative_url }}">{{ row.super_org | rdf_property: "skos:prefLabel" }}</a>
                    {% endif %}
                  </li>
                {% endfor %}
              {% endif %}
            </ol>
          </nav>
        </div>
      </div>

      {% assign description = page.rdf | rdf_property: "rdfs:comment", "de" %}
      {% unless description %}
        {% assign description = page.rdf | rdf_property: "dct:description", "de" %}
      {% endunless %}
      {% unless description %}
        {% assign description = page.rdf | rdf_property: "org:purpose", "de" %}
      {% endunless %}
      {% if description %}
        <div class="row">
          <div class="col-12">
            <p>{{ description }}</p>
          </div>
        </div>
      {% endif %}

      <div class="row">
        <div class="col-md-5 containment-lists">
          {% capture contains_query %}
            SELECT ?sub_org ?org_label
            WHERE {
              {
                ?resourceUri org:hasSubOrganization ?sub_org .
              } UNION {
                ?resourceUri org:hasUnit ?sub_org .
              }
              ?sub_org skos:prefLabel ?org_label .
              FILTER langMatches( lang(?org_label), "DE" )
            }
            ORDER BY ?org_label
          {% endcapture %}
          {% assign sub_orgs = page.rdf | sparql_query: contains_query %}
          {% if sub_orgs.size > 0 %}
            <div class="unit-contains">
              <h2 class="unit-attribute">Untereinheiten</h2>
              <ul>
                {% for row in sub_orgs %}
                  <li>
                    <a href="{{ row.sub_org.page_url | relative_url }}">{{ row.org_label }}</a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-sm-12">
          <table class="table table-striped align-middle">
            <tbody>
              {% include core/type_row.html %}

              {% assign alt_name = page.rdf | rdf_property: "skos:altLabel" %}
              {% if alt_name %}
                <tr>
                  <td>Alternativer Name:</td>
                  <td>{{ alt_name }}</td>
                </tr>
              {% endif %}


              {% comment %} 
                {% capture member_query %}
                  SELECT ?person ?person_name
                  WHERE {
                    ?resourceUri
                      org:hasMember ?person .
                    ?person
                      vcard:family-name ?family_name .
                    OPTIONAL {
                      ?person
                        vcard:given-name ?given_name .
                    }
                    BIND (CONCAT(?given_name, " ", ?family_name) AS ?person_name)
                  }
                  ORDER BY ?family_name
                {% endcapture %}
                {% assign members = page.rdf | sparql_query: member_query %}
                {% if members.size > 0 %}
                  {% for row in members %}
                    <tr>
                      <td>Person:</td>
                      <td>
                        <a href="{{ row.person.page_url | relative_url }}">
                          {{ row.person_name }}
                        </a>
                      </td>
                    </tr>
                  {% endfor %}
                {% endif %}
              {% endcomment %}

              {% capture post_query %}
                SELECT ?post ?post_name ?person ?person_name
                WHERE {
                  ?resourceUri
                    org:hasPost ?post .
                  ?person
                    org:holds ?post ;
                    vcard:family-name ?family_name ;
                    vcard:given-name ?given_name ;
                  .
                  BIND(CONCAT(?given_name, " ", ?family_name) AS ?person_name)
                  OPTIONAL {
                    ?post
                      org:role/rdfs:label ?label .
                    FILTER(lang(?label)="de")
                  }
                  BIND(IF(bound(?label), ?label, "(Name undefiniert)") AS ?post_name)
                }
                ORDER BY ?post_name
              {% endcapture %}
              {% assign posts = page.rdf | sparql_query: post_query %}
              {% if posts.size > 0 %}
                {% for row in posts %}
                  <tr>
                    <td>Posten:</td>
                    <td>
                      <a href="{{ row.post.page_url | relative_url }}">
                        {{ row.post_name }}
                      </a>
                      (<a href="{{ row.person.page_url | relative_url }}">
                        {{ row.person_name }}
                      </a>)
                    </td>
                  </tr>
                {% endfor %}
              {% endif %}

              </tbody>
          </table>
        </div>
        <div class="col-lg-6 col-sm-12">
          {%  capture address_query %}
            SELECT ?street_address ?postal_code ?locality
            WHERE {
              ?resourceUri
                org:hasSite/org:siteAddress ?address .
              ?address
                vcard:street-address ?street_address ;
                vcard:postal-code ?postal_code ;
                vcard:locality ?locality ;
            }
          {% endcapture %}
          {% assign addresses = page.rdf | sparql_query: address_query %}
          {% if addresses.size > 0 %}
            {% for row in addresses %}
              <h5>Adresse</h5>
              <address>
                {{ row.street_address }}<br/>
                {{ row.postal_code }} {{ row.locality }}
              </address>
            {% endfor %}
          {% endif %}

        </div>
      </div>
      <div class="row">
        <div class="col-12">
          {% include core/local_graph.html %}
        </div>
      </div>
    </div>
    {% include core/content_footer.html %}
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
      crossorigin="anonymous"></script>
  </body>
</html>